<ng-container>
    <ng-container *ngIf="isLoading">
        <div class="progress progress-modal">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </ng-container>
    
    <!-- begin: form filter -->
    <div class="form form-label-right my-2">
        <form class="form-group row" [formGroup]="formFilter">
            <div class="col-lg-3 col-md-4">
                <label>Id:</label>
                <input type="text" class="form-control" name="id" placeholder="ID" value="" formControlName="id" />

            </div>
            <div class="col-lg-3 col-md-4">
                <label>Name:</label>
                <input type="text" class="form-control" name="name" placeholder="Name" value="" formControlName="name"
                    id="name" />
            </div>
            <div class="col-lg-3 col-md-4">
                <label>Active:</label>
                <select class="form-control" placeholder="Active" name="active" formControlName="active" id="active">
                    <option *ngFor="let item of activeList" [value]="item.value">{{item.text}}</option>
                </select>
            </div>
        </form>
    </div>
    <!-- end: form filter -->

    <div class="card">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">
                    <i class="bi-person-cicle"></i>
                    Customer
                </h3>
            </div>
            <div class="card-toolbar">
                <a type="button" class="btn btn-primary" routerLink="/customer/create">
                    <i class="bi-plus-circle"></i>
                    New
                </a>
            </div>
        </div>

        <div class="card-body">

            <!-- begin:Table -->
            <div class="table-responsive angular-bootstrap-table">
                <table class="table table-head-custom table-vertical-center overflow-hidden">
                    <thead>
                        <th>
                            ID
                            <app-sort-icon column="id" [activeColumn]="sorting.column"
                                [activeDirection]="sorting.direction" (sort)="sortState($event)"></app-sort-icon>
                        </th>
                        <th>NAME
                            <app-sort-icon column="name" [activeColumn]="sorting.column"
                                [activeDirection]="sorting.direction" (sort)="sortState($event)"></app-sort-icon>
                        </th>
                        <th class="text-center">ACTIVE</th>
                        <th class="text-center">ACTIONS</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let model of data$ | async">
                            <td>{{ model.id }}</td>
                            <td>{{ model.name }}</td>
                            <td class="text-center">{{ model.active ? 'Yes' : 'No' }}</td>
                            <td class="text-center">
                                <a class="btn btn-icon btn-light" [routerLink]="'/customer/' + model.id + '/view'">
                                    <i class="bi-eye"></i>
                                </a>
                                <a class="btn btn-icon btn-light" [routerLink]="'/customer/' + model.id + '/update'">
                                    <i class="bi-pencil"></i>
                                </a>
                                <button class="btn btn-icon btn-light" (click)="delete(model.id)">
                                    <i class="bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- end: Table -->

            <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
                [isLoading]="isLoading" (paginate)="paginateState($event)"></app-paginator>

        </div>
    </div>
</ng-container>